      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
        <!-- Ui-40 -->
        <div class="ui-40">
          <div class="ui-block bg-black">
            <div class="ui-head">
              <!-- Heading -->
              <h2>Sign In</h2>
            </div>
          </div>
          <!-- Ui-block -->
          <div class="ui-block bg-grey">
            <!-- Icon -->
            <div class="ui-icon">
              <i class="fa fa-envelope red"></i>
            </div>
            <!-- Input box -->
            <div class="ui-input">
              <%= f.email_field :email, autofocus: true, class: "form-control", :placeholder => "Email"   %>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ui-block bg-grey">
            <div class="ui-icon">
              <i class="fa fa-lock red"></i>
            </div>
            <div class="ui-input">
             <%= f.password_field :password, autocomplete: "off", class: "form-control", :placeholder => "password"   %>
            </div>
          </div>
          <div class="clearfix"></div>
            <!-- Footer -->
              <div class="ui-foot bg-black">
                <!-- Buttons -->
                <%= f.submit  t('.sign_in', :default => "Sign in"), class: "ui-button" %>
                <% end %>
              </div>
          </div>
            <div class="ui-block bg-white">
              <div class="ui-icon">
                <i class="fa fa-flag fa-3x red"></i>
              </div>
              <div class="ui-input">
                <h4><%= render "devise/shared/links" %></h4>
              </div>
            </div>
        </div>

      
    
    

